
{% extends 'base.html' %}


{% block kpi %}
<h4 align="center">Key Performance Indicators(KPI's)</h4>
{% for kpi in kpi_nums %}

<li align="center">{{pretty_name(kpi)}} : {{kpi_nums[kpi]}}</li>

{% endfor %}
{% endblock %}

{% block body %}

<div id="log"></div>

 <div class="container">
    <h1 align="center">Lead Tracking</h1>
    <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled>
            <i class="glyphicon glyphicon-remove"></i> Delete
        </button>
    </div>
    {% if current_user.is_authenticated() %}
    <table id="table"
           data-toggle="table"
           data-toolbar="#filter_bar"
           data-search="true"
           data-sortable="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-show-filter="true"
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-maintain-selected="true"
           data-search="true"
           data-url={{ '/leads?user_id=' + current_user.user_id }}
           data-page-number="1"

    />
    {% endif %}


   <thead>
            <tr>
                <th data-field="state" data-checkbox="true" ></th>
                <th data-field="lead_id" data-editable="true"></th>
                <th data-field="first_name"  data-editable="true" data-typo="text" data-sortable="true" data-filter="first_name">First Name</th>
                <th data-field="last_name" data-editable="true" data-typo="text" data-sortable="true">Last Name</th>

                {% if current_user.access == 'agent' %}

            <th data-field="home_phone" data-editable="true" data-typo="text" data-sortable="true">Home Phone</th>
            <th data-field="phone_number" data-editable="true" data-typo="text" data-sortable="true">Mobile Phone</th>
            <th data-field="own" data-editable="true" data-typo="text" data-sortable="true">Own/Rent</th>


              {% endif %}

                {% if current_user.access != 'agent' %}
                                <th data-field="address" data-editable="true" data-typo="text" data-sortable="true">Address 1</th>

                                 <th data-field="apartment_number" data-editable="true" data-typo="text" data-sortable="true">Address 2</th>
                {% endif %}

                <th data-field="city" data-editable="true" data-typo="text" data-sortable="true">City</th>

                {% if current_user.access != 'agent' %}
                <th data-field="zip" data-typo="text" data-editable="true" >Zip Code</th>
                {% endif %}

                {% if current_user.access != 'agent' %}

                 <th data-field="gas" data-editable="true" data-typo="text" data-sortable="true">Gas Utility</th>

                  <th data-field="electric" data-editable="true" data-typo="text" data-sortable="true">Electric Utility</th>
                {% endif %}


                <th data-field="entry_date" data-typo="text" >Entry Date</th>
                {% if current_user.access == 'agent' %}
                                <th data-field="last_disposition" data-typo="text" data-editable="true" data-sortable="true">Last Disposition</th>

                {% endif %}
                <th data-field="status" data-typo="select" data-editable="true" data-sortable="true">Disposition</th>
                {% if current_user.access == 'admin' or current_user.access == 'superadmin' %}
                <th data-field="agent" data-typo="select" data-editable="true" >Assigned To</th>
                {% endif %}
            </tr>
    </thead>


    </table>
</div>


    
  </body>
</html>

<script type="text/javascript">

var $table = $('#table');
var $remove = $('#remove');


$table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {


            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            

        });
        
$remove.click(function () {

            var ids = getIdSelections();
            $table.bootstrapTable('remove', {
                field: 'lead_id',
                values: ids
            });
            var leads = JSON.stringify({lead_id_list : ids},null,2);
            $.ajax({
              url: '/delete',
              data: leads,
              method: 'POST',
              contentType: 'application/json'
            });
            $remove.prop('disabled', true);
        });

function getIdSelections() {

        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.lead_id
        });
    }


$(function() {

 $('#filter_bar').bootstrapTableFilter({

  filters:[
                {
                    field: 'first_name',    // field identifier
                    label: 'First Name',    // filter label
                    type: 'search'   // filter type
                },
                ],


                    // connectTo: '#table',
                    onAll: function(name, args) {
                        var d = new Date();
                        $('#log').prepend(d.toLocaleString() + ': ' + name + "\n");
                    },
                    onSubmit: function(data) {
                        var data = $('#filter_bar').bootstrapTableFilter('getData');
                        var d = new Date();
                        $('#log').prepend(d.toLocaleString() + ': ' + JSON.stringify(data) + "\n");
                    }
                });
});
</script>
{% endblock %}

