{% extends 'base.html' %}
{% block chart %}
{% endblock %}

{% block body %}


<form class="form-horizontal" align="center" action='/change_password' id="create_user" method="POST">
  <fieldset>

  	{% if success == True %}
    	<div class="alert alert-success" role="alert">Password Successfuly changed!</div>
    {% endif %}
    {% if success == False %}
    	<div class="alert alert-error" role="alert">There was an error, you who to contact ;)</div>
    {% endif %}
    <div id="legend">
      <legend class="">Change Password</legend>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge" required>
      </div>
    </div>

     <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">Password</label>
      <div class="controls">
        <input type="text" id="email" name="password" placeholder="" class="input-xlarge" required>
      </div>
    </div>
 
   
    



    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Go!</button>
      </div>
    </div>
  </fieldset>
</form>



{% endblock %}