{% extends 'base2.html' %}
{% block body %}

<!-- Start Main -->
        <section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container"><div class="col-md-12 "><div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal">Check Application Status<span class="title-seperator"></span></h3>

<p><b>Enter the applicant's last name and mobile phone number:</b></p>
<p><b><i>Note: Must match to the application.<i></b></p>
</div>
</div>

<form role="form" action="check_status" id="status" method="POST">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
  <div class="form-group">
    <input type="text" class="form-control" name="last_name" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'LAST NAME'"  placeholder="LAST NAME" autocomplete="off" tabindex="1" required>
  </div>
</div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
  <div class="form-group">
    <input type="tel" class="form-control" name="phone_number" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'MOBILE PHONE'" placeholder="MOBILE PHONE" autocomplete="off" tabindex="2" required>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4">
  <button type="submit" class="btn btn-default" id="sub">Submit</button>
</div>
</div>
</form>

{% if match == False %}
<div class="row red" align="center">

<p>Sorry no record found!, please check the details again.</p>
</div>
{% endif %}
</div>



</div>
</div>
</div>
</section>





<script type="text/javascript">

$('#sub')[0].onclick = function (){
      
      event.preventDefault();
      check();

}



    var phones = [{ "mask": "(###) ###-####"}];
      $('input[name="phone_number"]').inputmask({ 
        mask: phones,
        greedy: false, 
        definitions: { '#': { validator: "[0-9]", cardinality: 1}} 
      });


function check(ans) {
    
    var clear =  true;
    var required = [
      'last_name',
      ]

    var ph = [
      'phone_number',
      ]

   
    for (var i = required.length - 1; i >= 0; i--) {
      
      var input = $('input[name="'+required[i]+'"]')[0];
      if (input.value == '') {
          createLabel(input,'required');
          clear = false;
      }
      else{
        cleanSlate(input);
      };

    };

    for (var i = ph.length - 1; i >= 0; i--) {

      var input = $('input[name="'+ph[i]+'"]')[0];

      if (!validatePhonenumber(input.value)) {
        createLabel(input,'Invalid');
        clear = false;
      }
      else{
        cleanSlate(input);
      };

    };


    console.log(clear);
    if (clear) {
      $('#status').submit();
    };

}

function createLabel (input,reason) {
    
    var label_check = '#label_'+input.name;
    if ($(label_check)[0] != undefined) {
      return;
    }
    else{
      var label = document.createElement('label');
      label.className = 'red';
      label.id = "label_" + input.name;
      label.innerText = input.placeholder.replace('*','') + ' is '+ reason;
      input.parentElement.appendChild(label);
    }
}

function cleanSlate (input) {

  var label_check = '#label_'+input.name;

   if ($(label_check)[0] != undefined) {
      $(label_check)[0].style.visibility = 'hidden';
    }

}

function validatePhonenumber(inputtxt) {
  var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

 return phoneno.test(inputtxt);
}


</script>







<!-- End Main -->
{% endblock %}