{% extends 'base.html' %}

{% block chart %}
{% endblock %}

{% block body %}
<style type="text/css">
h3 {
    text-decoration: underline;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

</style>

<h1 align="center">Customer Profile

<button id="edit" class="btn btn-success" enabled align="center">
            <i class="glyphicon glyphicon-edit"></i> Edit
        </button>
</h1>




<div class="container">

  <div class="row">


<div class="col-md-4">

  <h3>Customer Section</h3>
{% for i in customer_order %}

{%if i == 'mobile_phone' or i == 'home_phone' %}
<li><b>{{pretty_name(i)}}</b> : <a href="javascript:void(0)" data-name="{{i}}" data-url="/edit" data-type="text" data-pk="{{lead_id}}" data-value="{{addon_info[i]}}" class="editable editable-click">{{ format_number(customer_info[i]) }}</a></li>

{% else %}
  <li><b>{{pretty_name(i)}}</b> : <a href="javascript:void(0)" data-name="{{i}}" data-url="/edit" data-type="text" data-pk="{{lead_id}}" data-value="{{customer_info[i]}}" class="editable editable-click">{{customer_info[i]}}</a></li>

{% endif %}
{% endfor %}
</div>

<div class="col-md-4">
  <h3>Referrer Section</h3>
{% for i in referer_order %}
  <li><b>{{pretty_name(i)}}</b> : <a href="javascript:void(0)" data-name="{{i}}" data-url="/edit" data-type="text" data-pk="{{lead_id}}" data-value="{{referer_info[i]}}" class="editable editable-click">{{referer_info[i]}}</a></li>
{% endfor %}
</div>


<div class="col-md-4">
  <h3>Landlord Section</h3>
{% for i in landlord_order %}
  <li><b>{{pretty_name(i)}}</b> : <a href="javascript:void(0)" data-name="{{i}}" data-url="/edit" data-type="text" data-pk="{{lead_id}}" data-value="{{landlord_info[i]}}" class="editable editable-click">{{landlord_info[i]}}</a></li>
{% endfor %}
</div>

</div>
<hr>

<div class="row">

{% for i in addon_info %}

<div class="col-md-3">
  <!-- OWN or RENT -->
{% if addon_info[i] == 'yes' %}
<li><b>OWN</b></li>

{% elif addon_info[i] == 'no' %}
<li><b>RENT</b></li>


{% else %}
<li><b>{{pretty_name(i)}}</b> : <a href="javascript:void(0)" data-name="{{i}}" data-url="/edit" data-type="text" data-pk="{{lead_id}}" data-value="{{addon_info[i]}}" class="editable editable-click">{{addon_info[i]}}</a></li><br>

{% endif %}
</div>

{% endfor %}


</div>

<hr>


</div>

<!-- Disposition form start -->

<form align="center"class="form-inline" id="create_disposition" method="POST" action="/create_disposition">
  <div class="form-group">
    <label for="status">Status: </label>
    <select class="form-control" name="status" data-editable="true">
      {% for i in dispositions %}
      <option value="{{i['value']}}">{{i['text']}}</option>
      {% endfor %}
  </select>
  </div>
  <div class="form-group">
    <label for="notes">Notes: </label>
    <textarea type="textarea" class="form-control" rows="3" class="form-control" name="notes" placeholder="Notes about the disposition."></textarea>
    <input type="hidden" name="lead_id" value="{{lead_id}}">
  </div>
  <button type="submit" class="btn btn-default">Update Disposition</button>
</form>

<!-- Disposition form end -->
<h3 align="center">Previous Actions</h3>
 <table id="table"
           data-toggle="table"
           data-sortable="true"
           data-show-refresh="true"
           
           data-minimum-count-columns="2"
           data-pagination="true"
           data-maintain-selected="true"
           data-url='/get_dispositions?lead_id={{lead_id}}'
           data-page-number="1"

    />


   <thead>
            <tr>
                <th data-field="name" >User</th>
                <th data-field="status">Actions/Disposition</th>
                <th data-field="timestamp">Timestamp</th>
                <th data-field="notes">Notes</th>

            </tr>
    </thead>


    </table>

<script type="text/javascript">

// $('#create_disposition').submit(function create(){
// 	            $.ajax({
// 	                url:'/create_disposition',
// 	                type:'POST',
// 	                data:$('#create_disposition').serialize(),
// 	                success:function(){
// 	                    //Nothing to do
// 	                }
// 	            });
// 	        }
// );

$('#edit').click(function() {
    $('.editable').editable('toggleDisabled');
});

$(function() {
  $('.editable').editable('toggleDisabled');
})

</script>

{% endblock %}
