{% extends 'base.html' %}

{% block chart %}
{% endblock %}

{% block body %}

<h1 align="center">Customer Profile</h1>
<div style="padding : 22px;">

{% for i in range(0,18,2) %}
  <li><b>{{names[i+1]}}</b> : {{details[names[i]]}}</li><br>
{% endfor %}
</div>

<!-- Disposition form start -->

<form align="center"class="form-inline" id="create_disposition" >
  <div class="form-group">
    <label for="status">Status: </label>
    <select class="form-control" name="status" data-editable="true">
      {% for i in dispositions %}
      <option value="{{i['value']}}">{{i['text']}}</option>
      {% endfor %}
  </select>
  </div>
  <div class="form-group">
    <label for="notes">Notes: </label>
    <textarea type="textarea" class="form-control" rows="3" class="form-control" name="notes" placeholder="Notes about the disposition."></textarea>
    <input type="hidden" name="lead_id" value={{details['lead_id']}}>
  </div>
  <button type="submit" class="btn btn-default">Update Disposition</button>
</form>

<!-- Disposition form end -->
<h3 align="center">Previous Dispositions</h3>
 <table id="table"
           data-toggle="table"
           data-sortable="true"
           data-show-refresh="true"
           
           data-minimum-count-columns="2"
           data-pagination="true"
           data-maintain-selected="true"
           data-url='/get_dispositions?lead_id={{details['lead_id']}}'
           data-page-number="1"

    />


   <thead>
            <tr>
                <th data-field="name" >Agent</th>
                <th data-field="status">Status/Disposition</th>
                <th data-field="timestamp">Timestamp</th>
                <th data-field="notes">Notes</th>

            </tr>
    </thead>


    </table>

<script type="text/javascript">

$('#create_disposition').submit(function create(){
	            $.ajax({
	                url:'/create_disposition',
	                type:'POST',
	                data:$('#create_disposition').serialize(),
	                success:function(){
	                    //Nothing to do
	                }
	            });
	        }
);

</script>

{% endblock %}
