{% extends 'base2_es.html' %}
{% block body %}

<!-- Start Main -->
        <section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container"><div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal">Revisar el estado<span class="title-seperator"></span></h3>

</div>
</div>


<div class="row" align="center">
{% if lead['status'] == 'default' %}
<p><b>RECIBIDA Y EN ESPERA DEL PROCESO</b></p>
<p>FECHA RECIBIDA: {{lead['entry_date']}}</p>
{% endif %}

{% if lead['status'] == 'appointment_set' %}
<p><b>INSCRIPCION PROGRAMADA</b></p>
<p>Appointment set: {{lead['notes']}}</p>
{% endif %}


{% if lead['status'] == 'ready_for_assignment' or lead['status'] == 'unable_to_reach'
                                      or lead['status'] == 'utility_authorization_needed'
                                      or lead['status'] == 'address_not_valid'
  
 %}

<p><b>{{lead['entry_date']}}</b></p>
<p><b>{{pretty_name(lead['status'])}}</b></p>
<p>{{lead['notes']}}</p>
<p><b>Contact</b>: {{lead['agent_name']}} </p>
			<p>{{lead['agent_phone']}} </p>
			<p>{{lead['agent_email']}}</p>
{% endif %}


{% if lead['status'] == 'previously_enrolled' or lead['status'] == 'dnq_over_income'
                                      or lead['status'] == 'dnq_out_of_area'
                                      or lead['status'] == 'dnq_other_utility'
  
 %}

<p><b>{{lead['entry_date']}}</b></p>
<p><b>{{pretty_name(lead['status'])}}</b></p>
<p>{{lead['notes']}}</p>
<p><b>Contact</b>: {{lead['agent_name']}} </p>
			<p>{{lead['agent_phone']}} </p>
			<p>{{lead['agent_email']}}</p>
{% endif %}



</div>


</div>
</div>


</div>
</section>
<!-- End Main -->
{% endblock %}