{% extends 'base2.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container-fluid"><div class="row"><div class="col-md-9" style="background-color: #fff; margin-bottom:0px;">
	<div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal">Are we in your area?<span class="title-seperator"></span></h3>

<p><b>Enter your Zip Code:</b></p>
</div>
</div>

{% if terminate == True %}
<input type="hidden" id="terminate" value="true">
{% endif %}

<form role="form" action="/esap" method="POST" id="esap_form">

    <input name="step" value="1" type="hidden">
  
{% for key in params %}
<input type="hidden" name="{{key}}" value="{{params[key]}}">
{% endfor %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
  <div class="form-group">
    <label for="zip_code" class="red" style="visibility: hidden;">Invalid Zip Code</label>
    <input type="tel" class="form-control" name="zip_code" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'ZIP CODE'"  placeholder="ZIP CODE" autocomplete="off" tabindex="1" required
    maxlength="5"
    >
  
  </div>
</div>
</div>
</form>
<div class="row">
<div class="red col-md-4 col-md-offset-4" align="center" id="alert" style="visibility: hidden;">Sorry, but we are not contracted in your area. Please call your utility provider to sign up!</div>
</div>

</div>



  <div class="col-md-3" id="sidebar">

  <div class="row">
    <h3 class="heading-title" style="font-weight:400; font-style:normal">QUALIFICATION STEPS</h3>
  </div>

  <div class="row" >
            <i class="fa fa-check"></i> &nbsp &nbsp
    Service Territory
  </div>

  <div class="row" >
            <i class="fa fa-check"></i> &nbsp &nbsp
    Utility Company
  </div>

  <div class="row" >
            <i class="fa fa-check"></i> &nbsp &nbsp
    Income Eligibity
  </div>

  <div class="row" >
        <i class="fa fa-check"></i> &nbsp &nbsp
    Age of Home
  </div>

  <div class="row" >
    <i class="fa fa-check"></i> &nbsp &nbsp
      Property Eligibility
  </div>

  <div class="row" >
        <i class="fa fa-check"></i> &nbsp &nbsp
    Application & Next Steps
  </div>




  </div>


</div>
</div>
</div>
<style type="text/css">
input[type='tel']{
  font-size: 23;
}
</style>
<script type="text/javascript">

var zip_code = $('[name="zip_code"]')[0];

zip_code.onkeyup = function () {

	if (this.value.length == 5) {
		var zip = this.value;
		console.log(zip);
		if (checkInt(zip)) {
			
			$('#esap_form')[0].submit();

		}
		else{
			$('label[class="red"]')[0].style.visibility = 'visible';
		};
		
	};
}

var terminate = false;
if ($('#terminate')[0].value == "true") {
	terminate = true;
};

console.log(terminate);

if (terminate) {
	$('#alert')[0].style.visibility = 'visible';
       $('html, body').animate({
        scrollTop: $("#alert").offset().top
    }, 2000);
};



</script>

{% endblock %}