{% extends 'base2_es.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container-fluid"><div class="row"><div class="col-md-9" style="background-color: #fff; margin-bottom:0px;">
  <div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal">¿A quien debemos contactar?<span class="title-seperator"></span></h3>

<p><b>Ingrese el nombre de la persona de pagar los
servicios públicos:</b></p>

</div>
</div>

<form role="form" action="/esap" method="POST" id="esap_form"><input name="lang" value="es" type="hidden">
  <input type="hidden" name="step" value="6">
  <input type="hidden" name="referrer" value="no">

{% for key in params %}
<input type="hidden" name="{{key}}" value="{{params[key]}}">
{% endfor %}
    
          <div class="form-group">

    <div class="row" align="center">

              <div class="col-md-3 col-md-offset-3">

                <input type="text" class="form-control" name="first_name" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Nombre*'"  placeholder="Nombre*" autocomplete="off" tabindex="1" required>
              </div>

              <div class="col-md-3">

               <input type="text" class="form-control" name="last_name" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Apellido*'"  placeholder="Apellido*" autocomplete="off" tabindex="2" required>
    </div>
    </div>
    <div class="row" align="center">

              <div class="col-md-3 col-md-offset-3">

                <input type="tel" class="form-control" name="phone_number" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'numero de teléfono Mobil*'"  placeholder="numero de teléfono Mobil*" autocomplete="off" tabindex="3" required>
              </div>

              <div class="col-md-3">
            <input type="tel" class="form-control" name="home_phone" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Numero de teléfono de casa*'"  placeholder="Numero de teléfono de casa*" autocomplete="off" tabindex="4" required>
              </div>
    </div>


    <div class="row" align="center">

              <div class="col-md-6 col-md-offset-3">

                <input type="email" class="form-control" name="email" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Correo electrónico / Email*'"  placeholder="Correo electrónico / Email*" autocomplete="off" tabindex="5" required>
              </div>

    </div>

    


</div>
        


</form>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p><b>¿Es usted la persona ya mencionada?</b></p>
</div>
</div>

<div class="row" align="center">
  <div class="col-xs-6">
    <button class="btn btn-default" id="yes">Yes</button>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-default" id="no">No</button>
  </div>
</div>


<div id="referrer" style="display: none;">
  <div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p><b>Ingrese su nombre e información:</b></p>
</div>
</div>

  
      <div class="row" align="center">

              <div class="col-md-3 col-md-offset-3">

                <input type="text" class="form-control" name="r_first_name" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Nombre*'"  placeholder= "Nombre*" autocomplete="off" tabindex="1" required>
              </div>

              <div class="col-md-3">

               <input type="text" class="form-control" name="r_last_name" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Apellido*'"  placeholder="Apellido*" autocomplete="off" tabindex="2" required>
    </div>
    </div>
    <div class="row" align="center">

              <div class="col-md-3 col-md-offset-3">

                <input type="tel" class="form-control" name="referrer_phone" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Numero de teléfono de casa'"  placeholder="Numero de teléfono de casa" autocomplete="off" tabindex="3" required>
              </div>

              <div class="col-md-3">
            <input type="email" class="form-control" name="referrer_email" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Correo electrónico / Email'"  placeholder="Correo electrónico / Email" autocomplete="off" tabindex="4" required>
              </div>
    </div>


   <div class="row" align="center">

              <div class="col-md-6 col-md-offset-3">

                <input type="text" class="form-control" name="relationship" onfocus="this.placeholder = ''" 
    onblur="this.placeholder = 'Parentesco'"  placeholder="Parentesco" autocomplete="off" tabindex="5" required>
              </div>

    </div>
</form>
    <div class="row" align="center">
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-default" id="continue" tabindex="6">continuar</button>
  </div>
</div>


    </div>



</div>
  <div class="col-md-3" id="sidebar">

  <div class="row">
    <h3 class="heading-title" style="font-weight:400; font-style:normal">PASOS A TOMAR PARA SOMETER
SOLICITUD</h4>
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de Territorio
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de servicios públicos
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de Ingresos
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Elegibilidad de antigüedad de su casa
  </div>

  <div class="row" >
    <i class="fa fa-check"></i>
      Elegibilidad del predio
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
     Próximos pasos
  </div>




  </div>


</div>
</div>
</div>
<style type="text/css">

input[type="text"],
input[type="tel"],
input[type="email"]{
  height: 63px;
  font-size: 17px;
}


</style>


<script>
var referrer = $('#no')[0];
var yes = $('#yes')[0];
var continue_ = $('#continue')[0];

var ph = [
      'phone_number',
      'home_phone',
      'referrer_phone']

 for (var i = ph.length - 1; i >= 0; i--) {

    var phones = [{ "mask": "(###) ###-####"}];
      $('input[name="'+ph[i]+'"]').inputmask({ 
        mask: phones,
        greedy: false, 
        definitions: { '#': { validator: "[0-9]", cardinality: 1}} 
      });

};

referrer.onclick = function(e) {
        e.preventDefault();
        $('input[name="referrer"]')[0].value = 'yes';
        console.log('in');
        $('#referrer')[0].style.display = 'block';
        $('html, body').animate({
        scrollTop: $("#referrer").offset().top
    }, 2000);

}

yes.onclick = function(event) {
    event.preventDefault();
    check('yes'); 

}

continue_.onclick = function(e){
  e.preventDefault();
  check('no');
}

function check(ans) {
    
    var clear =  true;
    var required = [
      'first_name',
      'last_name',
      ]

    var ph = [
      'phone_number',
      'home_phone']

    var r_ph =[
      'referrer_phone'
    ]

    var em = ['email']
    var r_em = ['referrer_email']
    
    var required2 = [
      'r_last_name',
      'r_first_name',
       
    ]

    if (ans == 'no') {
      required = required.concat(required2);
      if ($('input[name="referrer_email"]')[0].value != '') {
          em = em.concat(r_em);
      };
      if ($('input[name="referrer_phone"]')[0].value != '') {
          ph = ph.concat(r_ph);
      };
    };

    for (var i = required.length - 1; i >= 0; i--) {
      
      var input = $('input[name="'+required[i]+'"]')[0];
      if (input.value == '') {
          createLabel(input,'required');
          clear = false;
      }
      else{
        cleanSlate(input);
      };

    };

    for (var i = ph.length - 1; i >= 0; i--) {

      var input = $('input[name="'+ph[i]+'"]')[0];


     

      if (!validatePhonenumber(input.value)) {
        createLabel(input,'Invalid');
        clear = false;
      }
      else{
        cleanSlate(input);
      };

    };


    for (var i = em.length - 1; i >= 0; i--) {
      var input = $('input[name="'+em[i]+'"]')[0];

      if (!validateEmail(input.value)) {
        createLabel(input,'Invalid');
        clear = false;
      }
      else{
        cleanSlate(input);
      };

    };
    console.log(clear);
    if (clear) {
      $('#esap_form').submit();
    };

}

function createLabel (input,reason) {
    
    var label_check = '#label_'+input.name;
    if ($(label_check)[0] != undefined) {
      return;
    }
    else{
      var label = document.createElement('label');
      label.className = 'red';
      label.id = "label_" + input.name;
      label.innerText = input.placeholder.replace('*','') + ' is '+ reason;
      input.parentElement.appendChild(label);
    }
}

function cleanSlate (input) {

  var label_check = '#label_'+input.name;

   if ($(label_check)[0] != undefined) {
      $(label_check)[0].style.visibility = 'hidden';
    }

}

function validatePhonenumber(inputtxt) {
  var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

 return phoneno.test(inputtxt);
}

function validateEmail(email) {
         var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
          return re.test(email);
        }



</script>
{% endblock %}