{% extends 'base2.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container-fluid"><div class="row"><div class="col-md-9" style="background-color: #fff; margin-bottom:0px;">
  <div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal">Is the home at least?<span class="title-seperator"></span></h3>

</div>
</div>

<form role="form" action="/esap" method="POST" id="esap_form">

  <input type="hidden" name="step" value="4">


{% for key in params %}
<input type="hidden" name="{{key}}" value="{{params[key]}}">
{% endfor %}

  
    <div class="row" align="center">
        <div class="col-md-6 col-md-offset-3">
  <div class="form-group">
    <input type="tel" class="form-control"  value="5 YEARS OLD" autocomplete="off" tabindex="1" required readonly="yes">
    <input type="hidden" name="age" value="yes">
  </div>
</div>
</div>



</form>

<div class="row" align="center">
  <div class="col-xs-6">
    <button class="btn btn-default" id="yes">Yes</button>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-default" id="no">No</button>
  </div>
</div>

<div class="row">
<div class="red col-md-6 col-md-offset-3" align="center" style="visibility: hidden;" id="alert"><p>Your home does not meet the program requirements. These change every year. Please try again then.</p></div>
</div>



</div>


<div class="col-md-3" id="sidebar">

  <div class="row">
    <h3 class="heading-title" style="font-weight:400; font-style:normal">QUALIFICATION STEPS</h3>
  </div>

  <div class="row">
            <i class="fa fa-check"></i>
    Service Territory
  </div>

  <div class="row">
            <i class="fa fa-check"></i>
    Utility Company
  </div>

  <div class="row">
            <i class="fa fa-check"></i>
    Income Eligibity
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Age of Home
  </div>

  <div class="row" >
    <i class="fa fa-check"></i>
      Property Eligibility
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Application & Next Steps
  </div>


</div>

  
</div>
</div>
</div>
<style type="text/css">
  

</style>
<script type="text/javascript">


$('#no')[0].onclick = function() {
      console.log('in');
      $('#alert')[0].style.visibility = 'visible';
       $('html, body').animate({
        scrollTop: $("#alert").offset().top
    }, 2000);
                      $('input[name="step"]')[0].value = 10;
               setTimeout(function() {$('#esap_form').submit();},3000);

}

$('#yes')[0].onclick = function() {

      console.log('yes');
      $('#esap_form').submit();

}
</script>

{% endblock %}