{% extends 'base2.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container-fluid"><div class="row"><div class="col-md-9" style="background-color: #fff; margin-bottom:0px;">

<div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal"><b>What to expect now?</b><span class="title-seperator"></span></h3>


</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>We wil review your information and contact you once we recieve eligibilty from your Utility Company.</p>
</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>You can check the status of your application anytime by using this website again and clicking "Check My Application" in the navigation bar.
</p>
</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p><b>To you complete your application, click SUBMIT below.</b> By submitting your application you are also opting-in to receive updates via text message and email. SMS text message rates may apply. Please check with your carrier for rates.
</p>
</div>
</div>

<form action="esap" method="POST">
{% for key in extras %}
<input type="hidden" name="{{key}}" value="{{extras[key]}}">
{% endfor %}

  <input type="hidden" name="step" value="8">
<div class="row" align="center">
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-default" id="submit" tabindex="1">Submit</button>
  </div>
</div>
</form>

 




</div>
  <div class="col-md-3" id="sidebar">

  <div class="row">
    <h3 class="heading-title" style="font-weight:400; font-style:normal">QUALIFICATION STEPS</h4>
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Service Territory
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Utility Company
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Income Eligibity
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Age of Home
  </div>

  <div class="row" >
    <i class="fa fa-check"></i>
      Property Eligibility
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Application & Next Steps
  </div>
</div>

</div>
</div>
</div>
<style type="text/css">

input[type="text"],
input[type="tel"],
input[type="email"]{
  height: 63px;
  font-size: 27px;
}

.container-fluid{
  background-color: #F2F2F2;
}

#sidebar [class*="row"]{
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
}
</style>


 <script>


</script>

{% endblock %}