{% extends 'base2_es.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style="">
<div class="container-fluid"><div class="row"><div class="col-md-9" style="background-color: #fff; margin-bottom:0px;">
    <div class="col-md-12 "><div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal">¿Que compañía de servicios públicos tiene?<span class="title-seperator"></span></h3>

<p><b>Seleccione su compañía de electricidad:</b></p>
</div>
</div>
</div>
<form role="form" action="/esap" method="POST" id="esap_form">

   <input name="step" value="2" type="hidden">

  <input name="lang" value="es" type="hidden">
{% for key in params %}
<input type="hidden" name="{{key}}" value="{{params[key]}}">
{% endfor %}
    <div class="row">
<input type="hidden" name="electric" id="electric" value="" required>

<input type="hidden" name="gas" id="gas" value="" required>

  
  </div>
</form>


<div class="row" align="center">
  <div class="col-xs-4">
    <button class="btn btn-default" name="electric" value="pg&e">PG&E</button>
  </div>

  <div class="col-xs-4">
    <button class="btn btn-default" value="edison" name="electric">Edison</button>
  </div>
  
  <div class="col-xs-4">
    <button class="btn btn-default" value="other" name="electric">Other</button>
  </div>
</div>

<div class="row" align="center"> 
<p><b>Seleccione su compañía de gas:</b></p>

</div>


<div class="row" align="center">
  <div class="col-xs-4">
    <button class="btn btn-default" name="gas" value="pg&e">PG&e</button>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-default" name="gas" value="socal_gas">SCG</button>
  </div>

   <div class="col-xs-4">
    <button class="btn btn-default" name="gas" value="other">Other</button>
  </div>

</div>

<div class="row">
<div class="red col-md-6 col-md-offset-3" align="center" style="visibility: hidden;" id="alert"><p>Mil disculpas, pero no nos encontramos en su
area. Comunique se con su compañía de servicios
públicos.</p></div>
</div>



</div>

<div class="col-md-3" id="sidebar">

  <div class="row">
    <h3 class="heading-title" style="font-weight:400; font-style:normal">PASOS A TOMAR PARA SOMETER
SOLICITUD</h3>
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de Territorio
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de servicios públicos
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de Ingresos
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Elegibilidad de antigüedad de su casa
  </div>

  <div class="row" >
    <i class="fa fa-check"></i>
      Elegibilidad del predio
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Próximos pasos
  </div>

  </div>

</div>
</div>
</div>

<style type="text/css">
.btn{
    font-size: 15px;
    text-align: center;
    background-color: #c4c4c4;
}
</style>
<script type="text/javascript">

$(document).ready(function() {

    var electric = $('button[name="electric"]');
    var gas = $('button[name="gas"]');

    for (var i = electric.length - 1; i >= 0; i--) {
        
        electric[i].onclick = function() {

            greyAll(this.name);
            this.style.backgroundColor = '#30BDFF';

            $('input[name="electric"]')[0].value = this.value;
            check();
        }
    };

    for (var i = gas.length - 1; i >= 0; i--) {
        
        gas[i].onclick = function() {

            greyAll(this.name);
            this.style.backgroundColor = '#30BDFF';


            $('input[name="gas"]')[0].value = this.value;
            check();

        }
    };

    function greyAll(name){

        var b = $('button[name="'+name+'"]');
        for (var i = b.length - 1; i >= 0; i--) {
            b[i].style.backgroundColor = '#c4c4c4';
        };
    }

    function check(){
        var gas = $('#gas')[0].value;
        var electric = $('#electric')[0].value;

        if (
            (
              (gas != 'other' || electric != 'other') 
                && (gas != 'other' || electric != 'edison')
            )
            && gas != '' && electric != ''
         ) {
            
            $('#esap_form').submit();
        };

        if ((gas == 'other' && electric == 'other') || (gas == 'other' && electric == 'edison')) {
            $('#alert')[0].style.visibility = 'visible';
               $('html, body').animate({
                scrollTop: $("#alert").offset().top
            }, 2000);
               $('input[name="step"]')[0].value = 10;
               setTimeout(function() {$('#esap_form').submit();},3000);
        };

        return false;
    }

});

</script>

{% endblock %}