{% extends 'base2.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container-fluid"><div class="row"><div class="col-md-12" style="background-color: #fff; margin-bottom:0px;">

<div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal"><b>You do not Qualify at the time.</b><span class="title-seperator"></span></h3>


</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>Please try again in June when the guidelines change or call your utility company for more information.</p>
</div>
</div>
<div class="row" align="center">
<h3 class="heading-title" style="font-weight:400;font-style:normal"><b>Don't keep it to yourself.....</b><span class="title-seperator"></span></h3>
</div>
<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>Share this with your friends, family and neighbors so they can take advantage of the FREE Energy Savings Assistance Program too!
</p>
</div>

</div>

<div class="row" align="center">
	<div class="col-md-1 col-md-offset-5" align="center">
<div class="fb-share-button" data-href="http://highlandsenergy.com/esap/" data-layout="button_count"></div>
</div>


  <div class="col-md-1" align="center">

<a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.highlandsenergy.com/esap/apply-now" data-text="I just applied for FREE upgrades & home repairs. You can too! Check it out!" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </div>
  </div>

</div>
</div>
</div>
<style type="text/css">

.container-fluid{
  background-color: #fff;
}
</style>
{% endblock %}

