{% extends 'base2.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container-fluid"><div class="row"><div class="col-md-12" style="background-color: #fff; margin-bottom:0px;">

<div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal"><b>You do not Qualify at the time.</b><span class="title-seperator"></span></h3>


</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>Please try again in June when the guidelines change or call your utility company for more information.</p>
</div>
</div>
<div class="row" align="center">
<h3 class="heading-title" style="font-weight:400;font-style:normal"><b>Comparta</b><span class="title-seperator"></span></h3>
</div>
<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>Comparta con sus amigos, familiares y vecinos
</p>
</div>
</div>

</div>
  

</div>
</div>
</div>
<style type="text/css">

*{
  background-color: #fff;
}
</style>
{% endblock %}