{% extends 'base2_es.html' %}
{% block body %}

<section id="main">
            <div id="page">
<!-- END HEADER.PHP -->
<!-- START PAGE TEMPLATE -->
<!-- Start -->
<div class="row-container light bg-scroll" style=""><div class="container-fluid"><div class="row"><div class="col-md-9" style="background-color: #fff; margin-bottom:0px;">

<div class="row"><div class="tw-element waves-heading center col-md-12" style="" ><h3 class="heading-title" style="font-weight:400;font-style:normal"><b>¿Que es lo puedo esperar ahora?</b><span class="title-seperator"></span></h3>


</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>Nos pondremos en contacto con usted una vez que
la compañía de servicios públicos acepte su
solicitud.</p>
</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p>Puede revisar el estado de su solicitud en
cualquier momento usando este sitio web haga clic
en “ Revisar Solicitud” en la barra de navegación.
</p>
</div>
</div>

<div class="row" align="center">
  <div class="col-md-6 col-md-offset-3">
<p><b>Para terminar su solicitud, presione en Enviar
abajo.</b> Al enviar su solicitud, también esta optando
para recibir actualizaciones a través de mensajes
de texto SMS. Por favor, consulte con su compañía
para las tarifas.
</p>
</div>
</div>

<form action="esap" methos="POST">
{% for key in extras %}
<input type="hidden" name="{{key}}" value="{{extras[key]}}">
{% endfor %}

  <input type="hidden" name="step" value="8">
<div class="row" align="center">
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-default" id="submit" tabindex="1">Enviar</button>
  </div>
</div>
</form>
 




</div>
  <div class="col-md-3" id="sidebar">

  <div class="row">
    <h3 class="heading-title" style="font-weight:400; font-style:normal">PASOS A TOMAR PARA SOMETER
SOLICITUD</h4>
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de Territorio
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de servicios públicos
  </div>

  <div class="row" >
            <i class="fa fa-check"></i>
    Elegibilidad de Ingresos
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
    Elegibilidad de antigüedad de su casa
  </div>

  <div class="row" >
    <i class="fa fa-check"></i>
      Elegibilidad del predio
  </div>

  <div class="row" >
        <i class="fa fa-check"></i>
     Próximos pasos
  </div>
</div>

</div>
</div>
</div>
<style type="text/css">

input[type="text"],
input[type="tel"],
input[type="email"]{
  height: 63px;
  font-size: 27px;
}

.container-fluid{
  background-color: #F2F2F2;
}

#sidebar [class*="row"]{
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 20px;
}
</style>


 <script>


</script>

{% endblock %}